body{
	background-color:black;
	font-family:Arial;
}
input{
	margin-left:30%;
	width:500px;
	height:60px;
	border-radius:10px;
	font-size:20px;
	color:rgb(255, 253, 253);
	background-color:rgb(13, 13, 13);
	border-color:rgb(166, 163, 163);
}
h1{
	margin-left:30%;
	margin-top:50px;
	margin-bottom:0px;
	color:white;
}
h2{
	margin-left:30%;
	font-size:18px;
	color:white;
}
p{
	margin-left:30%;
	color:white
}
button{
	margin-left:30%;
	margin-top:10px;
	width:500px;
	border-radius:25px;
	height:50px;
	font-size:18px;
	color:white;
	background-color:rgb(76, 76, 190);
}
a{
	color:rgb(149, 149, 246);
	text-decoration:none;
}

